@font-face {
	font-family: "Qwigley";
	src: url("../fonts/Qwigley/Qwigley-Regular.ttf");
	font-weight: 400;
	font-style: bold;
}

@font-face {
	font-family: "Lora";
	src: url("../fonts/Lora/Lora-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lora";
	src: url("../fonts/Lora/Lora-Italic.ttf");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Lora";
	src: url("../fonts/Lora/Lora-Bold.ttf");
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/Open Sans/OpenSans-Regular.ttf");
	font-weight: 400;
	font-style: normal;
} 

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/Open Sans/OpenSans-Italic.ttf");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/Open Sans/OpenSans-Bold.ttf");
	font-weight: 700;
	font-style: bold;
}
/* applying fonts */

body
{
	font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family: "Qwigley";
}

/* force fonts */
.Open-Sans 
{
	font-family: "Open Sans", sans-serif !important;
}

.Qwigley 
{
	font-family: "Qwigley" !important;
}

.Lora
{
	font-family: "Lora" !important;
}

/* font sizes */

.fontsize-xs
{
	font-size: 14px !important;
}

.fontsize-s
{
	font-size: 20px !important;
}

.fontsize-m
{
	font-size: 40px !important;
}

.fontsize-l
{
	font-size: 80px !important;
}

.fontsize-xl
{
	font-size: 100px !important;
}

/* font weights */

.normal
{
	font-weight: normal !important;
}

.bold
{
	font-weight: bold !important;
}

.italic
{
	font-style: italic !important;
}


