body
{
	overflow-x:hidden;
	overflow-y: scroll;
}

.absolute-center
{
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	-webkit-transform: translate(-50%, -50%) !important;
}

.absolute-wrapper
{
	position: relative !important;
}

.max-width
{
	width: 100vw !important;
}

.max-height
{
	height: auto;
	min-height: 100vh !important;
}

/* COLOURS */

.primary-colour
{
	background-color: #fec327 !important;
}

.primary-colour-text
{
	color: #fec327 !important;
}

.secondary-colour 
{
	background-color: #4D9DE0 !important;
}

.secondary-colour-text
{
	color: #4D9DE0 !important;
}

.tertiary-colour
{
	background-color: #E15554 !important;
}

.tertiary-colour-text
{
	color: #E15554 !important;
}

.lighter-colour-text
{
	color: #454545 !important;
}
/* POSITIONING */

.top-40
{
	top: 40% !important;
}

/* MARGINS */

.mar-left-xs {
	margin-left: 5px !important;
}

.mar-left-s {
	margin-left: 10px !important;
}

.mar-left-m {
	margin-left: 15px !important;
}

.mar-left-l {
	margin-left: 30px !important;
}

.mar-left-xl {
	margin-left: 45px !important;
}

.mar-left-xxl {
	margin-left: 60px !important;
}

/* Right */
.mar-right-s {
	margin-right: 5px !important;
}

.mar-right-m {
	margin-right: 15px !important;
}

.mar-right-l {
	margin-right: 30px !important;
}

.mar-right-xl {
	margin-right: 45px !important;
}

.mar-right-xl {
	margin-right: 60px !important;
}

/* Top */
.mar-top-s {
	margin-top: 5px !important;
}

.mar-top-m {
	margin-top: 15px !important;
}

.mar-top-l {
	margin-top: 30px !important;
}

.mar-top-xl {
	margin-top: 45px !important;
}

.mar-top-xxl {
	margin-top: 60px !important;
}

/* Bottom */
.mar-btm-s {
	margin-bottom: 5px !important;
}

.mar-btm-m {
	margin-bottom: 15px !important;
}

.mar-btm-l {
	margin-bottom: 30px !important;
}

.mar-btm-xl {
	margin-bottom: 45px !important;
}

.mar-btm-xxl {
	margin-bottom: 60px !important;
}
/* Paddings */
/* Left */
.pad-left-s {
	padding-left: 5px !important;
}

.pad-left-m {
	padding-left: 15px !important;
}

.pad-left-l {
	padding-left: 30px !important;
}

.pad-left-xl {
	padding-left: 45px !important;
}

/* Right */
.pad-right-s {
	padding-right: 5px !important;
}

.pad-right-m {
	padding-right: 15px !important;
}

.pad-right-l {
	padding-right: 30px !important;
}

.pad-right-xl {
	padding-right: 45px !important;
}

/* Top */
.pad-top-s {
	padding-top: 5px !important;
}

.pad-top-m {
	padding-top: 15px !important;
}

.pad-top-l {
	padding-top: 30px !important;
}

.pad-top-xl {
	padding-top: 45px !important;
}

/* Bottom */
.pad-btm-s {
	padding-bottom: 5px !important;
}

.pad-btm-m {
	padding-bottom: 15px !important;
}

.pad-btm-l {
	padding-bottom: 30px !important;
}

.pad-btm-xl {
	padding-bottom: 45px !important;
}

.btn-small
{
	height: 28px !important;
	line-height: 28px !important;
}