body
{
	background-color: #f2f2f2;
}

.hide {
	display: none;
	opacity: 0;
}

/* TOAST */

.toast
{
	word-break: normal;
}

/* NAVBAR */ 

#sidenav-overlay {
	z-index: 99 !important;
}

ul#dropdownmedia 
{
	top: 64px !important;
}

.dropdown-button
{
	height: 64px;
}

.nav-wrapper img
{
	margin-top: 2px;
	height: 60px;
}

/* LOADING PAGE */

.loading-img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 128px;
	margin-left: -64px;
	margin-top: -64px;
	animation: rotating 1s linear infinite;
	-webkit-animation: rotating 1s linear infinite;
}

.loading-bar {
	position: absolute;
	top: 64px;
	left: 0;
	height: 2px;
	width: 0;
	background-color: #DB1804;
}

/* HOMEPAGE */ 

.home-bg, .contact-bg
{
	background-image: url(../../img/home/BG.JPG);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-bg .text-wrapper
{
	position: absolute;
	top:40%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;	
}

.home-bg h1
{
	font-size: 100pt;
	border-bottom: 2px solid #fec327;
	line-height: 80pt;
}

.home-arrow
{
	position: absolute;
	left: 50%;
	bottom: 8%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	font-size: 30pt;
	color: #fec327;
	cursor: pointer;
}

/* EVENTS */
.divider {
	overflow: visible !important;
}

.title-divider
{
	margin-bottom: 5%;
	width: 50%;
	margin-left: 25%;
}

.info-event{

	position: absolute;
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

.swal2-input {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.06) !important;
	border:1px solid #d9d9d9 !important;

}

.swal2-input:focus {
	border:1px solid #039be5 !important
}

.smalltext {
	font-size: 12px;
}

.events-wrapper 
{
	min-height: 90%;
}

.events-wrapper .collapsible
{
	box-shadow: none;
	border: none;
	background-color: #fff;
	padding: 50px;
}

.events-wrapper .collapsible-header
{
	border: none;
	background-color: #fff;
}

.events-wrapper .collapsible-body
{
	border: none;
	border-top: 1px solid #eee;
	background-color: #fff;
	padding: 10px;
}


.private-width
{
	width: 40%;
}

.events-private-label 
{
	position: relative !important;
	right: 0px !important;
	font-size: 14px !important;
}

.eventdate 
{
	width: 20%;

}

.eventday
{
	width: 10%;
}

.passed-event
{
	color: #aaa !important;
	/*background-color: #eee;*/
}

.swal2-confirm {
	background-color: #fec327 !important;
}

/* GALLERY */

.gallerypage {
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

.images-container {
   
	-webkit-column-count: 3;
	-webkit-column-gap:   5px;
	-moz-column-count:    3;
	-moz-column-gap:      5px;
	column-count:         3;
	column-gap:           5px;
}

.img-container a {
	width: 100%;
	height: auto;
	float: left;
}

.img-container img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* MUSIC */

table.highlight > tbody > tr:hover {
  background-color: #e2e2e2;
}

.music-artist {
	color: #716F67 !important;
	font-style: italic !important;
}


/* ABOUT */

.about-intro
{
	margin-top: 9%;
	margin-bottom: 5%;
	color: #888;
	font-size: 1.5em;
}

.about-intro p:first-of-type
{
	margin: 50px 0;
	font-size: 0.7em;
	color: #000;
}

.parallax-container {

	height: 130vh;
}

.img-wrapper
{
	position: relative;
}

.img-wrapper img
{
	width: 100%;
	margin: 5% 0;
}

.img-wrapper p
{
	position: absolute;
	bottom: 5%;
	left: 5%;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.55);
	width: 90%;
	padding: 10px;
}

.img-wrapper span 
{
	font-size: 12px;
	letter-spacing: 5px;
	color: #aaa !important;
}

.col
{
	position: relative;
}

.freepik 
{
	position: relative;
	z-index: 10;
	font-size: 16px;
	color: #fff;
}

.freepik p 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	padding: 10px 0;
	margin: 5% 0;
	text-align: center;
	opacity: 0;
	/*-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transform-origin: center top;
	transform-origin: center top;*/
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
}

div:hover > .freepik p, div:focus > .freepik p
{
	opacity: 1;
	/*-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);*/
}

/* CONTACT */

.contact-bg
{
	background-image: url(../../img/contact/img5.JPG);
	min-height: 100vh !important;
}

.contact-wrapper
{
	background-color: rgba(255,255,255,0.9) !important;
}

.contact-bg .container
{
	padding: 2.75%;
	width: 50%;
}

.contact-bg h1
{
	margin: 0;
	padding-top: 1em;
}

.contact-form
{
	padding: 5% 15%; 
}

.contact-form p 
{
	font-size: 12px;
	letter-spacing: 5px;
}

.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, textarea.materialize-textarea:focus + label  
{
	color: #9e9e9e !important;
}

.input-field input[type=text]:focus, .input-field input[type=email]:focus, textarea.materialize-textarea:focus 
{
	border-bottom: 1px solid #4D9DE0 !important;
	box-shadow: 0 1px 0 0 #4D9DE0 !important;
}

.input-field input[type=text].valid, .input-field input[type=email].valid, textarea.materialize-textarea.valid 
{
	border-bottom: 1px solid #4D9DE0 !important;
	box-shadow: 0 1px 0 0 #4D9DE0 !important;
}

/* PLAYLIST */

.playlistpage i {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.playlistpage i:hover {
	transform: scale(1.2, 1.2);
	cursor: pointer
}

.playlistpage .fa-plus:hover {
	filter: drop-shadow(0px 0px 1px rgba(0, 231, 255, 0.8));
	-webkit-filter: drop-shadow(0px 0px 1px rgba(66, 164, 245, 0.8));
	
} 

.playlistpage .fa-minus-circle:hover {
	filter: drop-shadow(0px 0px 1px rgba(0, 231, 255, 0.8));
	-webkit-filter: drop-shadow(0px 0px 1px rgba(229, 57, 53, 0.8));
}

.input-position {
	max-width: 35px;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative;
    left: 0;
    opacity: 1;
}

.playlistpage .main-icon, .playlistpage .change-icon {
	float: right !important;
	font-size: 25pt;
	margin-right: 20px;
}

.playlistpage .change-icon {
	float: left !important;
	margin: 0;
}

.songartist, .songtitle, .songlengthmin, .songlengthsec {
	max-width: 250px !important;
	height: auto;
}

.songlengthmin, .songlengthsec {
	max-width: 40px !important; 
}

.playlistpage h6 > span {
	background-color: #FEC427 !important;
	font-size: 1.3rem !important;
	padding: 3px 8px !important;
	position: relative !important;
	float: none;
	margin: 0;
	right: 0;
}


.playlistpage .sidebox {
	top: 50px !important;
	left: -445px; 
	height: 100vh !important;
	position: fixed;
	overflow-y: auto;
	width: 475px !important;
	z-index: 991;
}

.playlistpage .sidebox::-webkit-scrollbar { 
    display: none; 
}

.playlistpage .tab-container {
	position: fixed;
	top: 80px;
	left: -5px;
	
}

.playlistpage .sidetab {
	width: 30px;
	height: 80px;
	background-color: #000;
	border-radius: 5px;
}

.playlistpage .tab a{
	color: #77BEF5 !important;
}

.playlistpage .tab a:hover, .playlistpage .tab a.active {
	color: #2196f3 !important;
	cursor: pointer;
}

.playlistpage .card-tabs .indicator {
	background-color: #A3D4FA !important;
}

.tab-container i {
	position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-0%, -50%);
    left: 50%;
}

.tab-container i:hover {
	transform: translate(-50%, -50%) scale(1.5);
    -webkit-transform: translate(-0%, -50%) scale(1.5);

}

.playlistpage .sidebox .card {
	padding: 30px !important;
	width: 445px !important;
	min-height: calc(100vh - 64px);
	min-height: -webkit-calc(100vh - 64px);
}

.input_minutes, .input_break_pos {
	max-width: 30px;
	text-align: right;
}

.playlistpage .sidebox .add_pl_btn {
	left: 50%;
	max-width: 250px;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
    text-align: center;
    font-weight: bold; 
    margin: 20px 0;
    display: none;
}

.playlistpage .sidebox .add_pl_btn.visible {
	display: block;
}

.playlistpage .sidebox table {
	display: none;
}

.playlistpage .sidebox table.visible {
	display: table;
}

.playlistpage > .container > div:nth-child(2) > div {
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.shiftdiv {
	margin-left: 350px !important;
}

.tbl_pl tbody td:hover{
	cursor: pointer;
}

.input_pl_name {
	max-width: 250px;
}

.preloader-bg {
	position: fixed;
	display: none;
	z-index: 998;
	width: 100vw;
	height: calc(100vh - 64px);
	height: -webkit-calc(100vh - 64px);
	overflow: hidden;
	background-color: #9F9797;
	background-color: rgba(48, 46, 46, 0.8);
}

.preloader-wrapper {
	width: 150px !important;
	height: 150px !important;
	left: calc(50% - 75px);
	left: -webkit-calc(50% - 75px);
	top: calc(40% - 75px);
	top: -wbekit-calc(50% - 75px);
}
/* ANIMATIONS*/

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

/* MEDIA QUERIES */

/* DESKTOP */
@media (max-height: 800px) and (min-height: 600px) and (max-width: 1280px) and (min-width: 1024) {
	.contact-bg .container {
		width: 65% !important;
	}
}

/* TABLET LANDSCAPE*/

@media (max-width: 1024px) and (max-height: 768px) {
	.parallax-container {
    	height: 110vh !important;
	}

	.contact-bg .container {
		width: 80% !important;
	}
}

/* TABLET PORTRAIT*/
@media (max-width: 768px) and (max-height: 1024px) {
	
	.nav-wrapper img {
		height: 54px !important;
		margin-top: 1px;
	}

	.loading-bar {
		top: 56px !important;
	}

	.home-bg h1 { 
		font-size: 80pt !important;
	}

	.home-event span {
		font-size: 60px !important;
	}
	
	.eventdate {
    	width: 30% !important;
	}

	.images-container 
	{
		-webkit-column-count: 2;
		-webkit-column-gap:   5px;
		-moz-column-count:    2;
		-moz-column-gap:      5px;
		column-count:         2;
		column-gap:           5px;
	}

	.parallax-container {
    	height: 50vh !important;
	}

	.contact-wrapper
	{
		background-color: #fff !important;
		min-height: 100vh !important;
	}

	.contact-bg
	{
		min-height: auto !important;
	}	

	.contact-bg h1 {
		margin: inherit !important;
	}

	.contact-bg .container
	{
		width: 100% !important;
		padding: 0 !important;
	}

	.playlistpage .tab-container {
		display: none !important;
	}

	.playlistpage .sidebox { 
		width: 100vw !important;
		left: -100vw;
		transition: all 0.2s;
		-webkit-transition: all 0.2s;
	}

	.showsidebox {
		left: 0 !important;
	}

	.playlistpage .sidebox .card {
		width: 100% !important;
		min-height: calc(100vh - 56px) !important;
		min-height: -webkit-calc(100vh - 56px) !important;
	}

	.preloader-bg {
		height: calc(100vh - 56px);
		height: -webkit-calc(100vh - 56px);
	}



}

@media (max-width: 600px) {

	.mobile-private
	{
		position: relative;
	}

	.mobile-private::before,
	.mobile-private::after
	{
		content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    border-color: transparent;
	    border-style: solid;
	}

	.mobile-private::after
	{
		border-radius: 0em;
    	border-width: 0.5em;
    	border-right-color: #E15554;
    	border-top-color: #E15554;
	}
}

/* IPHONE PORTRAIT */
@media (max-width: 414px) and (max-height: 736px) {
	
	h1 {
		font-size: 30px !important;
	}

	.home h1 {
		font-size: 50pt !important;
		line-height: 50pt !important; 
	}

	.home-bg
	{
		height: 100% !important;
	}

	.home-bg .text-wrapper
	{
		top: 40% !important;
	}

	.home-arrow
	{
		bottom: 20% !important;
	}

	.home-event
	{
		margin-top: 60px !important;
	}

	.home-event span {
		font-size: 40px !important;
	}

	.home-event p {
		font-size: 16px !important;
	}

	.eventtitle 
	{
		width: 60% !important;
	}

	.events-wrapper .collapsible {
		padding: 20px !important;
	}

	.eventdate {
		width: 40% !important;
	}

	.title-divider
	{
		width: 90% !important;
		margin-left: 5% !important;
	}

	.about-intro {
		font-size: 1.3em !important;
	}

	.img-wrapper p {
		font-size: 16px !important;
	}

	.icon-container {
		text-align: center;
	}

	.playlistpage .main-icon {
		float: none !important;
		margin: 0 10px;
	}

	.playlistpage .hide-on-small {
		display: none;
	}

	.playlistpage .card td {
		max-width: 95px;
	}

}

@media (max-width: 320px) and (max-height: 568px) {
	.home h1 {
		font-size: 40pt !important;
		line-height: 40pt !important; 
	}

	.home-arrow
	{
		bottom: 10% !important;
	}

	.home-event span {
		font-size: 30px !important;
	}

	.eventtitle 
	{
		width: 50% !important;
	}

	.eventdate {
		width: 50% !important;
	}
}

/* IPHONE LANDSCAPE */
@media (max-width: 736px) and (max-height: 414px) {
	.home .text-wrapper{
		top: 50% !important;
	} 

	.home-bg h1 {
		font-size: 50pt !important;
		line-height: 50pt !important;
	}

	.home-arrow {
		bottom: 5% !important;
	}

	.home-event .divider {
		margin: 15px 0 !important;
	}

	.home-event span {
		font-size: 40px !important;
	}

	.parallax-container {
		height: 120vh !important;
	}

	.img-wrapper p {
		font-size: 18px !important;
	}
}

@media (max-width: 568px) and (max-height: 320px) {
	.home-arrow {
		bottom: -5% !important;
	}

	.home-event {
		top: 100px !important;
	}

	.parallax-container {
		height: 130vh !important;
	}
}
