<header>
	<div class="navbar-fixed">
		<ul id="dropdownmedia" class="dropdown-content black">
			<li class="divider"></li>
			<li>
				<a ui-sref="music" class="white-text">Muziek</a>
			</li>
			<li class="divider"></li>
			<li>
				<a ui-sref="gallery" class="white-text">Foto&#39s</a>
			</li>
		</ul>
		<nav class="black">
			<div class="container">
				<div class="nav-wrapper">
					<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-bars fontsize-s"></i></a>
					<a href="#" class="brand-logo"><img src="img/navbar/tebs%20logo%20white.png"/></a>
					<ul class="right hide-on-med-and-down">
						<li><a ui-sref="events">Evenementen</a></li>
						<li><a class="dropdown-button" href="" data-activates="dropdownmedia">Media <i class="fa fa-caret-down mar-left-s"></i></a></li>
						<li><a ui-sref="about">Over</a></li>
						<li><a ui-sref="contact">Contact</a></li>
			      	</ul>
			      	<ul id="nav-mobile" class="side-nav black">
						<li><a class="white-text" ui-sref="events">Evenementen</a></li>
						<div class="divider"></div>
						<li>
							<ul class="collapsible" data-collapsible="accordion">
								<li>
									<a class="collapsible-header white-text bold">Media</a>
									<div class="collapsible-body">
										<ul class="black regular">
											<li><a ui-sref="music" class="white-text">Muziek</a></li>
											<li><a ui-sref="gallery" class="white-text">Foto&#39s</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</li>
						<div class="divider"></div>
						<li><a ui-sref="about" class="white-text">Over</a></li>
						<div class="divider"></div>
						<li><a ui-sref="contact" class="white-text">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>