<loading-sign class="loader"></loading-sign>
<main class="aboutpage">
	<div class="row">
		<div class="col l6 m8 s10 offset-l3 offset-m2 offset-s1 about-intro">
			<h1 class="Open-Sans bold lighter-colour-text">Wie zijn we?</h1>
			<div class="divider primary-colour"></div>
			<p class="Open-Sans italic"> THE EARLY BIRD SPECIALS... D'UH! </p>
			<p class="Lora">
				The Early Bird Specials is een zeskoppige coverband die een jazzy-pop stijl brengt. Geen (harde) rock, geen schlagers, geen polonaises. Maar, wat dan wel? Herkenbare nummers. Soms uitbundig, af en toe intiem, hier en daar wat humor. Op een eigen manier gebracht. Poppy, jazzy, feel-good, groovy, ... Met invloeden van o.a. Amy Winehouse, Caro Emerald, Duffy, Norah Jones, Lady Linn, ...
			</p>
		</div>
	</div>
	<div class="row">
		<div class="parallax-container">
		<div class="parallax"><img ng-src="{{about.photo_arr[0].src}}" alt="{{about.photo_arr[0].alt}}" style="width:100%;"></div>
		</div>
	</div>
		<div class="row" style="height:100%;">
			<div class="col l6 m8 s10 offset-l3 offset-m2 offset-s1">
				<h1 class="Open-Sans bold lighter-colour-text" style="margin-top:20%;">Onze leden</h1>
				<div class="divider primary-colour"></div>
				<!-- <div class="freepik">
						<p >Fred is gestyled door <a href="http://www.freepik.com/free-vector/musical-instruments-collection_1013740.htm" target="_blank">Freepik</a></p>
					</div> -->
				<div ng-repeat="person in about.person_arr" class="col m6 s12 pad-left-s pad-right-s">
					<div class="img-wrapper">
						<img ng-src="{{about.photo_arr[$index+1].src}}" alt="{{about.photo_arr[$index+1].alt}}">
						<!-- img by Freepik: "http://www.freepik.com/free-vector/musical-instruments-collection_1013740.htm"-->
						<p class="white-text Lora">
							{{person.name}}<br/>
							<span class="Open-Sans">{{person.instrument | uppercase}}</span>
							
						</p>
					</div>
				</div>
			</div>
		</div>

</main>