<loading-sign class="loader"></loading-sign>
<main>
	<div class='contact-bg max-width'>
		<div class="container">
			<div class="contact-wrapper">
				<div class="row">
					<h1 class="Open-Sans lighter-colour-text bold center-align">Contact</h1>
					<div class="divider primary-colour col s6 offset-s3"></div>
				</div>
				<form class="contact-form" ng-submit="contact.sendForm()">
					<div class="row">
						<div class="col s12">
							<p class="lighter-colour-text Open-sa mar-btm-xl bold center-align">VRAGEN, BOEKINGEN OF POSITIEVE VIBES?</p>
							<div class="row">
						        <div class="input-field col s12">
						        	<input id="name" type="text" class="validate" ng-model="contact.formData.name" required>
						          	<label for="name">Naam</label>
						        </div>
					        </div>
							<div class="row">
								<div class="input-field col s12">
									<input id="email" type="email" class="validate" ng-model="contact.formData.email" required>
								  	<label for="password">Emailadres</label>
								</div>
							</div>
				      		<div class="row">
					    		<div class="col s12">
						      		<div class="row">
						        		<div class="input-field col s12">
						          			<textarea id="bericht" class="materialize-textarea validate" ng-model="contact.formData.message" required></textarea>
						          			<label for="bericht">Wat wil je ons vertellen?</label>
						        		</div>
						      		</div>
					    		</div>
					  		</div>
					  		<div class="row">
					    		<div class="col s12 center-align">
					  				<input type="submit" value="Verzenden" class="btn waves-effect primary-colour mar-top-l"/>
					  			</div>
					  		</div>
				  		</div>
				  	</div>
			  	</form>
		  	</div>
		</div>
	</div>
</main>