<main>
	<loading-sign class="loader"></loading-sign>
	<div class="events-wrapper">
		<div class="row container">
			<div class="col s12">
				<img src="">
			</div>
			<div class="col s12">
				<h1 class="Open-Sans center-align lighter-colour-text bold">Evenementen <i ng-click="event.startRegistration()" class="fa fa-info-circle primary-colour-text info-event" aria-hidden="true"></i></h1>
				<div class="divider primary-colour title-divider"></div>
			</div>
			<div class="col s12">
				<ul class="collapsible collapsible-accordion mar-top-l" data-collapsible="expandable" id="staggered-events-list">
					<li ng-repeat="myevent in event.fb_events">
						<div class="collapsible-header" ng-class="{'mobile-private': myevent.private_event, 'passed-event': event.checkIfPassedEvent(myevent.start_time.slice(0,19))}">
							<div class="left eventdate bold"> {{myevent.shortdate}} </div>
							<div class="left eventday bold hide-on-med-and-down">{{myevent.shortday}}</div>
							<div class="left eventtitle truncate">{{myevent.name}}
								<span ng-show="myevent.private_event" class="new badge tertiary-colour events-private-label mar-left-s hide-on-small-only" data-badge-caption=""> Privé </span></div>
							<div class="right eventinfo hide-on-med-and-down"><a class="btn btn-small waves-effect primary-colour" href="">Info</a></div>
						</div>
						<div class="collapsible-body pad-left-m"><div class="row pad-top-m">
								<div class="col s12">
									<div>
										<span class="bold">Titel: </span>{{myevent.name}}
										</br>
									</div>
									<span class="bold">Tijd &amp; datum: </span>{{myevent.time_and_date}}</br>
									<span class="bold">Adres: </span><span ng-hide="myevent.address_url">{{myevent.address}}</span><a ng-show="myevent.address_url" class="google-map" ng-href="{{myevent.address_url}}" target="_blank">{{myevent.address}}</br></a>
								</div>
								<div class="col s12 pad-top-m">
									<a class="btn btn-small waves-effect primary-colour" ng-href="{{myevent.rsvp_url}}" target="_blank">RSVP</a>
								</div>
							</div>
						</div>
					<div ng-hide="$last" class="divider"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</main>