<loading-sign class="loader"></loading-sign>
<main>
	<div class="container gallerypage">
		<div class="row">
			<div class="col s12">
				<h1 class="Open-Sans center-align lighter-colour-text bold">Foto's</h1>
				<div class="divider primary-colour title-divider"></div>
			</div>
		</div>
		<div class="images-container">
			<div class="col s12">
				<div class="img-container" >
					<a ng-repeat="image in gallery.photo_arr" class="image-link" ng-href="{{image.src}}" magnific-popup><img title="{{image.alt}}" alt="{{image.alt}}" ng-src="{{image.src}}"></a>
				</div>
			</div>
		</div>
	</div>
</main>