<loading-sign class="loader"></loading-sign>
<main class="home">
	<div class="home-bg max-width max-height">
		<div class="text-wrapper">
			<h1>The Early Bird Specials</h1>
			<p>&#45 Offici&eumlle pagina &#45</p>
		</div>
		<i ng-click="home.scrollDown()" class="fa fa-arrow-circle-down home-arrow"></i>
	</div>
	<div class="container home-event center-align max-width max-height absolute-wrapper">
		<div class="row">
			<div class="col s12 absolute-center pad-left-l pad-right-l pad-top-xl pad-btm-xl">
				<div class="divider mar-btm-l mar-top-l"></div>
				<span class="fontsize-l bold lighter-colour-text">Out Of The Blue,<br/>Pop'd Into Jazz</span>
				<div class="divider mar-top-l"></div>
				<p class="mar-top-xl mar-btm-xl fontsize-s">Welkom op onze offici&eumlle site&#33 Je vindt hier info, demo&#39s&#44 foto&#39s en aanstaande optredens van onze band. Via onderstaande knop vind je meer info over onze optredens. </p>
				<a class="btn waves-effect primary-colour mar-top-l" ui-sref="events">Check events</a>
			</div>
		</div>
	</div>
</main>