<main>
	<loading-sign class="loader"></loading-sign>
	<div class="container musicpage">
		<div class="row">
			<div class="col s12">
				<h1 class="Open-Sans center-align lighter-colour-text bold">Muziek</h1>
				<div class="divider primary-colour title-divider"></div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<h5 class="Open-Sans"> OWN DEMO REMIX </h5>
				<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/206767005&amp;color=fec327&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
			</div>
			<div class="col s12 mar-top-xl mar-btm-xl">
				<h5 class="Open-Sans"> PLAYLIST </h5>
				
				<table class="bordered highlight hide-on-small-only">
			        <thead>
						<tr>
							<th>Title</th>
							<th>Artist</th>
							<th></th>
						</tr>
			        </thead>

			        <tbody class="playlist">
			        	<tr ng-repeat="song in music.playlist" magnific-popup>
			        		<td>{{song.id}}. {{song.title}}</td>
			        		<td>{{song.artist}}</td>
			        		<td><a ng-if"{{song.youtube_url}}" class="mfp-youtube btn btn-small waves-effect primary-colour right" ng-href="{{song.youtube_url}}">Listen</a></td>
			        	</tr>
			        </tbody>
			    </table>
			    <table class="bordered highlight hide-on-med-and-up">
			    	<thead>
			    		<tr>
			    			<th>Song</th>
			    			<th></th>
			    		</tr>
			    	</thead>
			    	<tbody class="playlist">
			        	<tr ng-repeat="song in music.playlist" magnific-popup>
			        		<td>{{song.id}}. {{song.title}} <br> <span class="music-artist">by {{song.artist}}</span></td>
			        		<td><a ng-if"{{song.youtube_url}}" class="mfp-youtube btn btn-small waves-effect primary-colour right" ng-href="{{song.youtube_url}}">Listen</a></td>
			        	</tr>
			        </tbody>
			    </table>
			</div>
		</div>
	</div>
</main>