<loading-sign class="loader"></loading-sign>
<div class="preloader-bg">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-yellow-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
</div>
<main class="playlistpage" ng-swipe-right="playlist.swipeSidebar(true)" ng-swipe-left="playlist.swipeSidebar(false)">
	<div class="sidebox">
		<div class="tab-container">
			<div class="sidetab"></div>
			<i ng-click="playlist.toggleSideBar()"class="fa fa-caret-right white-text"></i>
		</div>
		<div class="card">
			<div class="card-tabs">
				<ul class="tabs tabs-fixed-width">
					<li class="tab"><a ng-click="playlist.setSelected('Nummers')" class="active">Nummers</a></li>
    				<li class="tab"><a ng-click="playlist.setSelected('Playlists')">Playlists</a></li>
				</ul>
		    </div>
			<div class="card-content songs">
				<a ng-class="{visible : playlist.isSelected('Nummers')}" ng-click="playlist.addBreak()" class="waves-effect waves-light btn  white-text add_pl_btn">Voeg Pauze Toe</a>
				<table ng-class="{visible : playlist.isSelected('Nummers')}" class="bordered highlight">
					<thead>
						<tr>
							<th>Nr.</th>
							<th>Titel</th>
							<th>Duur</th>
							<th class="center-align">Actie</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="song in playlist.songs_outside_pl">
							<td>{{$index + 1}}.</td>
							<td>{{song.title}} <br> <span class='music-artist'>by {{song.artist}}<span></td>
							<td>{{song.length}}</td>
							<td class="center-align">
								<i title="Voeg toe aan huidige playlist" class="fa fa-plus blue-text" ng-click="playlist.showInfoBox($index, playlist.songs_inside_pl.length+1)"></i> 
							</td>
						</tr>
					</tbody>
				</table>
				<a ng-class="{visible : playlist.isSelected('Playlists')}" ng-click="playlist.addNewPlaylist()" class="waves-effect waves-light btn  white-text add_pl_btn">+ Nieuwe Playlist</a>
				<table ng-class="{visible : playlist.isSelected('Playlists')}" class="bordered highlight centered tbl_pl">
					<thead>
						<tr>
							<th>Naam</th>
							<th>Actie</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="someplaylist in playlist.allplaylists">
							<td ng-click="playlist.getPlaylistById(someplaylist.id)">{{someplaylist.name}}</td>
							<td class="center-align"><i title="Verwijder playlist" class="fa fa-minus-circle red-text text-darken-2" ng-click="playlist.deletePlaylist(someplaylist.id)"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 ng-click="playlist.getNewestPlaylist()" class="Open-Sans center-align lighter-colour-text bold">Playlists</h1>
				<div class="divider primary-colour title-divider"></div>
			 	<p class="icon-container">
			 		<i ng-click="playlist.savePlaylist();" title="playlist opslaan" class="main-icon fa fa-floppy-o grey-text text-darken-3"></i> 
			 		<i ng-click="playlist.emptyPlaylist()" title="playlist leegmaken" class="main-icon fa fa-trash red-text text-darken-2"></i>
			 	</p>
			</div>
		</div>
		<div class="row">
			<div class="col l6 offset-l3 s12">
				<h4 class="center-align Lora playlistname">{{playlist.current_playlist.name}}</h4>
				<h6 class="center-align mar-btm-xl Lora"><span class="new badge center-align" data-badge-caption="">Totale tijd: {{playlist.playlist_time}}</span></h6>
				<table class="bordered highlight">
					<thead>
						<tr>
							<th>Positie</th>
							<th>Titel</th>
							<th>Duur</th>
							<th class="center-align hide-on-small">Actie</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table_song" ng-repeat="song in playlist.songs_inside_pl" ng-swipe-left="playlist.swipeSong($index)">
							<td>{{$index + 1}}.</td>
							<td>{{song.title}} <br> <span class='music-artist'>by {{song.artist}}<span></td>
							<td>{{song.length}}</td>
							<td class="center-align hide-on-small"><i title="Zet nummer uit playlist" class="fa fa-minus-circle red-text text-darken-2" ng-click="playlist.removeFromPlaylist($index)"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>