<main>
	<div class="container unsubscribepage">
		<div class="row">
			<div class="col s12 unsubscribecontent">
				<h1 class="Open-Sans center-align lighter-colour-text bold mar-top-l">Zo jammer! :-(</h1>
				<div class="divider primary-colour title-divider"></div>
				<p class='mar-top-l center-align'>Het spijt ons om te horen dat je niet meer op de hoogte wil blijven van onze evenementen. <br> Is er iets dat we kunnen verbeteren of dat je graag anders zou willen? <br> Laat het ons dan weten via de <a ui-sref="contact">contactpagina</a></p>

				<p class="center-align"><a ui-sref="home"><i class="fa fa-home mar-right-s" aria-hidden="true"></i> Keer terug naar de homepagina</a></p>
			</div>
		</div>
	</div>
</main>